body {
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    color: black;
}
.form {
    border: 3px solid #f1f1f1;
    background: white;
    width: 500px;
}

input[type=text], input[type=password], input[type=number],input[type=textarea] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    /*margin-right: 1%;*/
    /*margin-left: 20%;*/
    margin-top: 8px;
    background-color:  #cceeff;
    color: black;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 280px;
}

button:hover {
    opacity: 0.8;
}


.container {
    padding: 16px;
}
.label{
    font-size: 20px;
    color: black;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}